html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: 25px;
    margin-top: 25px;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 35px;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;

    background-color: rgb(208, 208, 208);
}

ul > li {
    border-color: rgb(105, 79, 101);

    border: 1px solid black;

    text-align: center;
    padding: 10px;

    flex-grow: 1;
}

.kleur-1 {
    color: #0d6efd;
}

.kleur-2 {
    color: #198754;
}

.kleur-3 {
    color: #0dcaf0;
}

.kleur-4 {
    color: #ffc107;
}

.kleur-5 {
    color: #dc3545;
}

.kleur-6 {
    color: #ffffff;
}



.lijst-1 {
    flex-direction: row;
}

@media screen and (min-width: 576px) {
    .lijst-2 {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .lijst-3 {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .lijst-4 {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .lijst-5 {
        flex-direction: row;
    }
}

@media screen and (min-width: 1400px) {
    .lijst-6 {
        flex-direction: row;
    }

    .kleur-xxl{
    background-color: #cf04beb4;
}
}