

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

nav {
    height: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul > li {
     display: flex;
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

li:hover {
    background-color: white;
    color: red;
}

@media screen and (min-width: 1000px){
    ul {
        flex-direction: row;
    }
}